// МІксини, змінні шаблони@mixin _350 {
//     @media screen and (max-width: 350px) {
//       @content
//   }
// };
// @mixin title_style($size, $weight, $style){
//   font-style:  $style;
//   font-weight:  $weight;
//   font-size: $size;
// }
// %light_blue{ color: #46B1DE;}

// Font style
%Montnorm700 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%Montnorm7006478 {
  @extend %Montnorm700;
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

%Montnorm7002429 {
  @extend %Montnorm700;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

// text
%Montnorm4001620white {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF
}

%Montnorm4001215white {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

%Montnorm4001417white{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;}

%Montnorm3003644 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

// font style


// @extend %Backgradient;
%Backgradient {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%)
}

// @extend %btngradientsmall;
%btngradientsmall {
  @extend %Montnorm700;
  font-size: 12px;
  line-height: 15px;
  @extend %Backgradient;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

// @extend %btngradientbig;
%btngradientbig {
  @extend %Montnorm700;
  font-size: 12px;
  line-height: 15px;
  @extend %Backgradient;
  // height: 3.3vw;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

// @extend %Colortextgradient;
%Colortextgradient {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

// @extend %stylecartstitle
%stylecartstitle {
  @extend %Montnorm700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

// @extend %stylecartspan
%stylecartspan {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

// @extend %title
%title {
  @extend %Montnorm700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

// @extend %subtitle 
%subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);

  span {
    @extend %Montnorm3003644;
    margin-right: 2vw;
  }
}


// @extend %allstylecase 
%allstylecase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;

  .box_case_img {
    background-image: url(/picture/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 15.2vw;
    height: 15.2vw;

    img {
      width: 13.2vw;
      height: 13.2vw;
      margin: 1vw 1vw;
    }
  }

  h4 {
    @extend %Montnorm700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    // margin-bottom: 1vw;
  }

  .hrcase {
    width: 10.5vw;
    border: 1px solid rgba(192, 183, 232, 0.33);
    // margin-bottom: 1.5vw;
  }

  .text_case {
    @extend %Montnorm4001215white;
    width: 17.3vw;
    height: 4vw;
  }

  .btn_case {
    @extend %btngradientsmall;
  }
}

// @extend %CircleTextGradient
%CircleTextGradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gap_circle {

    width: 13.7vw;
    height: 13.7vw;
    background-image: url(/picture/Ellipse_shadow_big.png);
    background-repeat: no-repeat;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .num_circle {
      width: 11vw;
      height: 11vw;
      background-image: url(/picture/Ellipse_big_gradient.png);
      background-repeat: no-repeat;
      @extend %Montnorm7006478;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .gap_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %Montnorm7002429
  }
}