// МІксини, змінні шаблони@mixin _350 {
//     @media screen and (max-width: 350px) {
//       @content
//   }
// };
// @mixin title_style($size, $weight, $style){
//   font-style:  $style;
//   font-weight:  $weight;
//   font-size: $size;
// }
// %light_blue{ color: #46B1DE;}
 

%Montnorm7001215 {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;}