@import'_main';
@import'_about';
@import'_why';
@import'_tech&hard';
@import'_how';
@import'_join';
@import'_template';

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
// width: 1440px
// 14,4px = 1vw ;
// height: 5597px;
margin: 4vw 5vw 4vw 6.25vw;
height:100vh;
background: #302C42;}


