.main .center .left .build_btn span, .main .center .left .title, .main .head .box_btn, .main .head .box_center span, .main .carts .three .box_three .carts_title, .main .carts .second .box_second .carts_title, .main .carts .first .box_first .carts_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main .center .left .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main .center .left .build_btn span, .main .head .box_btn .right_btn {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .three .box_three .carts_title, .main .carts .second .box_second .carts_title, .main .carts .first .box_first .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .three .box_three span, .main .carts .second .box_second span, .main .carts .first .box_first span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.main .head {
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vw;
}
.main .head .box_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .head .box_icon .icon {
  width: 7vw;
  height: auto;
  margin-right: 1.5vw;
}
.main .head .box_icon .text {
  width: 7vw;
  height: auto;
}
.main .head .box_center {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.main .head .box_center span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.main .head .box_btn {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
}
.main .head .box_btn .left_btn {
  height: 3.3vw;
  text-align: center;
  padding: 1vw 2.5vw;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  margin-right: 2.5vw;
  color: #FFFFFF;
}
.main .head .box_btn .right_btn {
  height: 3.3vw;
  text-align: center;
  padding: 1vw 2.5vw;
  border-radius: 40px;
  color: #343045;
}
.main .center {
  display: flex;
  justify-content: space-between;
}
.main .center .left {
  width: 31.6vw;
}
.main .center .left .title {
  font-size: 40px;
  line-height: 56px;
  color: #FFFFFF;
}
.main .center .left .subtitle {
  color: #FFFFFF;
  margin: 2.5vw 0;
}
.main .center .left .build_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .center .left .build_btn span {
  width: 15.8vw;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  margin-right: 1vw;
  font-size: 12px;
  line-height: 15px;
  color: #343045;
}
.main .center .left img {
  width: 7vw;
  height: 7vw;
}
.main .center .right {
  z-index: -100;
  width: 36.6vw;
  height: 31.5vw;
  background-image: url(/picture/shadow_mask.png);
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100px 100px 100px 240px;
}
.main .center .right img {
  margin: 1vw 1.25vw;
}
.main .carts {
  height: 11.5vw;
  background-image: url(/picture/back_carts.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6vw;
}
.main .carts .first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .carts .first img {
  width: 4.5vw;
  height: auto;
  margin-right: 0.5vw;
}
.main .carts .first .box_first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main .carts hr {
  height: 7vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.main .carts .second {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .carts .second img {
  width: 4.5vw;
  height: auto;
  margin-right: 0.5vw;
}
.main .carts .second .box_second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main .carts .three {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .carts .three img {
  width: 4.5vw;
  height: auto;
  margin-right: 0.5vw;
}
.main .carts .three .box_three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main .box_vector {
  position: relative;
  z-index: -1000;
}
.main .box_vector .vector1 {
  position: absolute;
  top: 12vw;
  right: -5vw;
}
.main .box_vector .vector2 {
  position: absolute;
  top: -4vw;
  right: 3vw;
}
.main .box_vector .vector3 {
  position: absolute;
  top: 29vw;
  right: -7vw;
}
.main .vector4 {
  position: absolute;
  top: 15vw;
  left: -6.25vw;
}

.main .head .box_center span, .main .head .box_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main .center .left .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main .head .box_btn .right_btn, .main .center .left .build_btn span {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.main .head .box_center span, .main .head .box_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main .center .left .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main .head .box_btn .right_btn, .main .center .left .build_btn span {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 4vw 5vw 4vw 6.25vw;
  height: 100vh;
  background: #302C42;
}