.main .center .left .title, .main .head .box_btn .left_btn, .main .head .box_center span, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .why .box_head_why .head_left h3, .about .box_right h2, .about .box_left h1, .main .carts .three .box_three .carts_title, .main .carts .second .box_second .carts_title, .main .carts .first .box_first .carts_title, .join .box_btn_string, .about .box_right .box_btn_about, .main .center .left .build_btn span, .main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .how .box_bottom_how .box_circle .gap .gap_text, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.how .box_head_how .how_right p, .why .box_head_why .head_right p, .about .box_right p, .main .center .left .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.join .box_title .subtitle, .tech .tech_head_title .sub_head_title span, .how .box_head_how .how_left .subh4 span, .why .box_head_why .head_left .subh3 span, .about .box_right .subh2 span, .about .box_left .subh1 span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.join .box_btn_string, .about .box_right .box_btn_about, .main .center .left .build_btn span, .main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.join .box_btn_string, .about .box_right .box_btn_about, .main .center .left .build_btn span {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .three .box_three .carts_title, .main .carts .second .box_second .carts_title, .main .carts .first .box_first .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .three .box_three span, .main .carts .second .box_second span, .main .carts .first .box_first span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .why .box_head_why .head_left h3, .about .box_right h2, .about .box_left h1 {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.how .box_head_how .how_left .subh4, .why .box_head_why .head_left .subh3, .about .box_right .subh2, .about .box_left .subh1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.how .box_head_how .how_left .subh4 span, .why .box_head_why .head_left .subh3 span, .about .box_right .subh2 span, .about .box_left .subh1 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .head {
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vw;
}
.main .head .box_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .head .box_icon .icon {
  width: 7vw;
  height: auto;
  margin-right: 1.5vw;
}
.main .head .box_icon .text {
  width: 7vw;
  height: auto;
}
.main .head .box_center {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.main .head .box_center span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.main .head .box_btn {
  display: flex;
  justify-content: space-between;
}
.main .head .box_btn .left_btn {
  font-size: 12px;
  line-height: 15px;
  height: 3.3vw;
  width: 11vw;
  text-align: center;
  padding: 1vw 0vw;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  margin-right: 2.5vw;
  color: #FFFFFF;
}
.main .center {
  display: flex;
  justify-content: space-between;
}
.main .center .left {
  width: 31.6vw;
}
.main .center .left .title {
  font-size: 40px;
  line-height: 56px;
  color: #FFFFFF;
}
.main .center .left .subtitle {
  margin: 2.5vw 0;
}
.main .center .left .build_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .center .left .build_btn span {
  margin-right: 1vw;
}
.main .center .left img {
  width: 7vw;
  height: 7vw;
}
.main .center .right {
  z-index: -100;
  width: 36.6vw;
  height: 31.5vw;
  background-image: url(/picture/shadow_mask.png);
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100px 100px 100px 240px;
}
.main .center .right img {
  margin: 1vw 1.25vw;
}
.main .carts {
  height: 11.5vw;
  background-image: url(/picture/back_carts.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6vw;
  margin-bottom: 5.8vw;
}
.main .carts .first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .carts .first img {
  width: 4.5vw;
  height: auto;
  margin-right: 0.5vw;
}
.main .carts .first .box_first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main .carts hr {
  height: 7vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.main .carts .second {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .carts .second img {
  width: 4.5vw;
  height: auto;
  margin-right: 0.5vw;
}
.main .carts .second .box_second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main .carts .three {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .carts .three img {
  width: 4.5vw;
  height: auto;
  margin-right: 0.5vw;
}
.main .carts .three .box_three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.main .box_vector {
  position: relative;
  z-index: -1000;
}
.main .box_vector .vector1 {
  position: absolute;
  top: 12vw;
  right: -5vw;
  z-index: -30;
}
.main .box_vector .vector2 {
  position: absolute;
  top: -4vw;
  right: 3vw;
  z-index: -30;
}
.main .box_vector .vector3 {
  position: absolute;
  top: 29vw;
  right: -7vw;
  z-index: -30;
}
.main .vector4 {
  position: absolute;
  top: 15vw;
  left: -6.25vw;
  z-index: -30;
}

.join .box_btn_string, .about .box_right .box_btn_about, .join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .why .box_head_why .head_left h3, .about .box_right h2, .about .box_left h1, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle, .how .box_bottom_how .box_circle .gap .gap_text, .main .head .box_center span, .main .head .box_btn .left_btn, .main .head .box_btn .right_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.how .box_head_how .how_right p, .why .box_head_why .head_right p, .about .box_right p, .main .center .left .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.join .box_title .subtitle, .tech .tech_head_title .sub_head_title span, .how .box_head_how .how_left .subh4 span, .why .box_head_why .head_left .subh3 span, .about .box_right .subh2 span, .about .box_left .subh1 span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.join .box_btn_string, .about .box_right .box_btn_about, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .main .head .box_btn .right_btn, .main .center .left .build_btn span {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .main .head .box_btn .right_btn {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.join .box_btn_string, .about .box_right .box_btn_about, .main .center .left .build_btn span {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .why .box_head_why .head_left h3, .about .box_right h2, .about .box_left h1 {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.how .box_head_how .how_left .subh4, .why .box_head_why .head_left .subh3, .about .box_right .subh2, .about .box_left .subh1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.how .box_head_how .how_left .subh4 span, .why .box_head_why .head_left .subh3 span, .about .box_right .subh2 span, .about .box_left .subh1 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 7.7vw;
  position: relative;
}
.about .box_vector_about .vector7 {
  position: absolute;
  left: -6vw;
  top: 14vw;
  z-index: -30;
}
.about .box_vector_about .vector8 {
  position: absolute;
  left: -6vw;
  top: 31vw;
  z-index: -30;
}
.about .box_left {
  margin-right: 7.7vw;
}
.about .box_left h1 {
  margin-bottom: 1vw;
}
.about .box_left .subh1 img {
  z-index: -10;
  transform: translate(0%, -25%);
}
.about .box_left .foto_mask_men {
  width: 36.3vw;
  height: 38.6vw;
}
.about .box_right {
  width: 44.5vw;
}
.about .box_right .top_text {
  margin-bottom: 10.5vw;
}
.about .box_right .botton_text {
  margin-bottom: 3vw;
}
.about .box_right h2 {
  margin-bottom: 1vw;
}
.about .box_right .subh2 {
  margin-bottom: 3vw;
}
.join .box_btn_string, .join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .why .box_head_why .head_left h3, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle, .how .box_bottom_how .box_circle .gap .gap_text, .main .head .box_center span, .main .head .box_btn .left_btn, .main .head .box_btn .right_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title, .about .box_left h1, .about .box_right h2, .about .box_right .box_btn_about {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.how .box_head_how .how_right p, .why .box_head_why .head_right p, .main .center .left .subtitle, .about .box_right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.join .box_title .subtitle, .tech .tech_head_title .sub_head_title span, .how .box_head_how .how_left .subh4 span, .why .box_head_why .head_left .subh3 span, .about .box_left .subh1 span, .about .box_right .subh2 span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.join .box_btn_string, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .main .head .box_btn .right_btn, .main .center .left .build_btn span, .about .box_right .box_btn_about {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .main .head .box_btn .right_btn {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.join .box_btn_string, .main .center .left .build_btn span, .about .box_right .box_btn_about {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .why .box_head_why .head_left h3, .about .box_left h1, .about .box_right h2 {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.how .box_head_how .how_left .subh4, .why .box_head_why .head_left .subh3, .about .box_left .subh1, .about .box_right .subh2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.how .box_head_how .how_left .subh4 span, .why .box_head_why .head_left .subh3 span, .about .box_left .subh1 span, .about .box_right .subh2 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.why {
  margin-bottom: 8vw;
}
.why .box_head_why {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5vw;
}
.why .box_head_why .head_left h3 {
  margin-bottom: 1vw;
}
.why .box_head_why .head_left .subh3 img {
  z-index: -10;
  transform: translate(0%, -25%);
}
.why .box_head_why .head_right p {
  width: 44.5vw;
}
.why .box_vector_why {
  position: relative;
}
.why .box_vector_why .vector14 {
  position: absolute;
  left: -6vw;
  z-index: -30;
}
.why .box_case {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.join .box_btn_string, .join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle, .how .box_bottom_how .box_circle .gap .gap_text, .main .head .box_center span, .main .head .box_btn .left_btn, .main .head .box_btn .right_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title, .about .box_left h1, .about .box_right h2, .about .box_right .box_btn_about, .why .box_head_why .head_left h3, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.how .box_head_how .how_right p, .main .center .left .subtitle, .about .box_right p, .why .box_head_why .head_right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.join .box_title .subtitle, .tech .tech_head_title .sub_head_title span, .how .box_head_how .how_left .subh4 span, .about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.join .box_btn_string, .main .head .box_btn .right_btn, .main .center .left .build_btn span, .about .box_right .box_btn_about, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.join .box_btn_string, .main .center .left .build_btn span, .about .box_right .box_btn_about {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join .box_title .title_table, .how .box_head_how .how_left h4, .tech .tech_head_title h2, .about .box_left h1, .about .box_right h2, .why .box_head_why .head_left h3 {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.how .box_head_how .how_left .subh4, .about .box_left .subh1, .about .box_right .subh2, .why .box_head_why .head_left .subh3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.how .box_head_how .how_left .subh4 span, .about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech {
  margin-top: 4vw;
  margin-bottom: 4.5vw;
  position: relative;
}
.tech .tech_head_title {
  height: 21vw;
  background-image: url(/picture/Maskgroup_back_tech.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.tech .tech_head_title .box_tech_head_title {
  position: absolute;
  top: 14%;
  left: 26%;
}
.tech .tech_head_title h2 {
  margin-bottom: 1vw;
}
.tech .tech_head_title .sub_head_title {
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.tech .btn_smallcicrle {
  margin: 0 auto;
  background-image: url(/picture/Ellipse_small_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(0%, -50%);
  width: 7vw;
  height: 7vw;
}
.tech .btn_smallcicrle .smallcicle {
  background-image: url(/picture/Ellipse_cicrle_gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 4.8vw;
  height: 4.8vw;
  transform: translate(23%, 23%);
}
.tech .btn_smallcicrle .smallcicle img {
  width: 4.1vw;
  height: 4.1vw;
  transform: translate(8%, 10%);
}
.tech .box_brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.join .box_btn_string, .join .box_title .title_table, .how .box_head_how .how_left h4, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle, .how .box_bottom_how .box_circle .gap .gap_text, .main .head .box_center span, .main .head .box_btn .left_btn, .main .head .box_btn .right_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title, .about .box_left h1, .about .box_right h2, .about .box_right .box_btn_about, .why .box_head_why .head_left h3, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .tech .tech_head_title h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.how .box_head_how .how_right p, .main .center .left .subtitle, .about .box_right p, .why .box_head_why .head_right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.join .box_title .subtitle, .how .box_head_how .how_left .subh4 span, .about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span, .tech .tech_head_title .sub_head_title span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.join .box_btn_string, .main .head .box_btn .right_btn, .main .center .left .build_btn span, .about .box_right .box_btn_about, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.join .box_btn_string, .main .center .left .build_btn span, .about .box_right .box_btn_about {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join .box_title .title_table, .how .box_head_how .how_left h4, .about .box_left h1, .about .box_right h2, .why .box_head_why .head_left h3, .tech .tech_head_title h2 {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.how .box_head_how .how_left .subh4, .about .box_left .subh1, .about .box_right .subh2, .why .box_head_why .head_left .subh3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.how .box_head_how .how_left .subh4 span, .about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how {
  margin-bottom: 7.7vw;
}
.how .box_head_how {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8.3vw;
}
.how .box_head_how .how_left h4 {
  margin-bottom: 1vw;
}
.how .box_head_how .how_left .subh4 img {
  z-index: -10;
  transform: translate(0%, -25%);
}
.how .box_head_how .how_right p {
  width: 44.5vw;
}
.how .box_bottom_how {
  background-image: url(/picture/Vector15.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  width: 100vw;
  transform: translate(-6vw, 0);
}
.how .box_bottom_how .box_circle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.join .box_btn_string, .join .box_title .title_table, .main .head .box_center span, .main .head .box_btn .left_btn, .main .head .box_btn .right_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title, .about .box_left h1, .about .box_right h2, .about .box_right .box_btn_about, .why .box_head_why .head_left h3, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .tech .tech_head_title h2, .how .box_head_how .how_left h4, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle, .how .box_bottom_how .box_circle .gap .gap_text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.main .center .left .subtitle, .about .box_right p, .why .box_head_why .head_right p, .how .box_head_how .how_right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.join .box_title .subtitle, .about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span, .tech .tech_head_title .sub_head_title span, .how .box_head_how .how_left .subh4 span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.join .box_btn_string, .main .head .box_btn .right_btn, .main .center .left .build_btn span, .about .box_right .box_btn_about, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.join .box_btn_string, .main .center .left .build_btn span, .about .box_right .box_btn_about {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.join .box_title .title_table, .about .box_left h1, .about .box_right h2, .why .box_head_why .head_left h3, .tech .tech_head_title h2, .how .box_head_how .how_left h4 {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.about .box_left .subh1, .about .box_right .subh2, .why .box_head_why .head_left .subh3, .how .box_head_how .how_left .subh4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span, .how .box_head_how .how_left .subh4 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 88.5vw;
  height: 70vw;
  background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  text-align: center;
  padding: 6.3vw 7vw 5.8vw 7vw;
}
.join .box_title .title_table {
  margin-bottom: 2vw;
}
.join .box_title .subtitle {
  margin-top: 1.5vw;
  color: #FFFFFF;
}
.join .box_form {
  display: flex;
  flex-direction: column;
}
.join .box_form input {
  width: 100%;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding-bottom: 1.8vw;
  padding-top: 1.8vw;
  padding-left: 3vw;
  text-align: left;
  color: #FFFFFF;
  height: 5vw;
}
.join .box_form .box_strings .string1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}
.join .box_form .box_strings .string2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}
.join .box_form .string3 {
  margin-bottom: 2vw;
}
.join .box_form #string4 {
  padding-top: 1.8vw;
  padding-left: 3vw;
  color: #FFFFFF;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  width: auto;
  height: 14vw;
}
.join .box_btn_string {
  margin: 0 auto;
}

.main .head .box_center span, .main .head .box_btn .left_btn, .main .head .box_btn .right_btn, .main .center .left .title, .main .center .left .build_btn span, .main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title, .about .box_left h1, .about .box_right h2, .about .box_right .box_btn_about, .why .box_head_why .head_left h3, .why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .tech .tech_head_title h2, .how .box_head_how .how_left h4, .how .box_bottom_how .box_circle .gap .gap_circle .num_circle, .how .box_bottom_how .box_circle .gap .gap_text, .join .box_title .title_table, .join .box_btn_string {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  font-size: 64px;
  line-height: 78px;
  color: #343045;
}

.how .box_bottom_how .box_circle .gap .gap_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.main .center .left .subtitle, .about .box_right p, .why .box_head_why .head_right p, .how .box_head_how .how_right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.join .box_form input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span, .tech .tech_head_title .sub_head_title span, .how .box_head_how .how_left .subh4 span, .join .box_title .subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
}

.main .head .box_btn .right_btn, .main .center .left .build_btn span, .about .box_right .box_btn_about, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case, .join .box_btn_string {
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.main .head .box_btn .right_btn, .why .box_case .case1 .btn_case,
.why .box_case .case2 .btn_case,
.why .box_case .case3 .btn_case,
.why .box_case .case4 .btn_case {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 10.7vw;
}

.main .center .left .build_btn span, .about .box_right .box_btn_about, .join .box_btn_string {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 1vw 0vw;
  border-radius: 40px;
  color: #343045;
  height: 3.3vw;
  width: 14.8vw;
}

.main .center .left .title .color-title {
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main .carts .first .box_first .carts_title, .main .carts .second .box_second .carts_title, .main .carts .three .box_three .carts_title {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 1vw;
}

.main .carts .first .box_first span, .main .carts .second .box_second span, .main .carts .three .box_three span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.about .box_left h1, .about .box_right h2, .why .box_head_why .head_left h3, .tech .tech_head_title h2, .how .box_head_how .how_left h4, .join .box_title .title_table {
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

.about .box_left .subh1, .about .box_right .subh2, .why .box_head_why .head_left .subh3, .how .box_head_how .how_left .subh4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2vw;
  color: rgba(255, 255, 255, 0.95);
}
.about .box_left .subh1 span, .about .box_right .subh2 span, .why .box_head_why .head_left .subh3 span, .how .box_head_how .how_left .subh4 span {
  margin-right: 2vw;
}

.why .box_case .case1,
.why .box_case .case2,
.why .box_case .case3,
.why .box_case .case4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 21.5vw;
  height: 35.5vw;
  padding: 1.3vw 2vw 2.5vw 2vw;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: 40px;
}
.why .box_case .case1 .box_case_img,
.why .box_case .case2 .box_case_img,
.why .box_case .case3 .box_case_img,
.why .box_case .case4 .box_case_img {
  background-image: url(/picture/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15.2vw;
  height: 15.2vw;
}
.why .box_case .case1 .box_case_img img,
.why .box_case .case2 .box_case_img img,
.why .box_case .case3 .box_case_img img,
.why .box_case .case4 .box_case_img img {
  width: 13.2vw;
  height: 13.2vw;
  margin: 1vw 1vw;
}
.why .box_case .case1 h4,
.why .box_case .case2 h4,
.why .box_case .case3 h4,
.why .box_case .case4 h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.why .box_case .case1 .hrcase,
.why .box_case .case2 .hrcase,
.why .box_case .case3 .hrcase,
.why .box_case .case4 .hrcase {
  width: 10.5vw;
  border: 1px solid rgba(192, 183, 232, 0.33);
}
.why .box_case .case1 .text_case,
.why .box_case .case2 .text_case,
.why .box_case .case3 .text_case,
.why .box_case .case4 .text_case {
  width: 17.3vw;
  height: 4vw;
}
.how .box_bottom_how .box_circle .gap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle {
  width: 13.7vw;
  height: 13.7vw;
  background-image: url(/picture/Ellipse_shadow_big.png);
  background-repeat: no-repeat;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_circle .num_circle {
  width: 11vw;
  height: 11vw;
  background-image: url(/picture/Ellipse_big_gradient.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how .box_bottom_how .box_circle .gap .gap_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 4vw 5vw 4vw 6.25vw;
  height: 100vh;
  background: #302C42;
}